<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body style="font-family: Arial, sans-serif; background-color: #f4f4f4; margin: 0; padding: 20px;">
<div style="max-width: 600px; margin: 0 auto; background: white; padding: 30px; border-radius: 8px; border: 1px solid #e0e0e0;">
    <!-- Логотип -->
    <div style="margin-bottom: 20px;">
        <p style="text-align: left;"><img src="https://static.tildacdn.com/tild6438-3835-4031-a635-383665323331/Logo_Blue_No-BG.png" alt="Герб МГТУ им. Н.Э. Баумана" width="80" height="auto" style="display: block;"></p>
        <p style="font-size: 14px; color: #1a1a1a; margin-top: 10px; font-weight: bold;"></p>
    </div>

    <!-- Заголовок -->
    <h2 style="color: #003d7c; margin-bottom: 20px;">Здравствуйте!</h2>

    <p style="color: #1a1a1a;">Ваш одноразовый код:</p>

    <!-- Блок с OTP-кодом -->
    <div style="background-color: #f0f7ff; border: 1px dashed #003d7c; border-radius: 8px; padding: 15px 20px; margin: 20px 0; display: flex; justify-content: space-between; align-items: center;">
        <span style="font-size: 24px; font-weight: bold; color: #003d7c; letter-spacing: 4px;" th:text="${otp}">123456</span>
        <span style="font-size: 12px; color: #666; background-color: #e0e0e0; padding: 4px 8px; border-radius: 4px;">OTP KEY</span>
    </div>

    <p style="color: #1a1a1a;">Этот код используется для <span th:text="${purpose}">верификации</span>.</p>
    <p style="color: #ff0000;">Код действителен 10 минут.</p>



    <p style="color: #666;">С уважением,
        команда от МГТУ им. Н.Э. Баумана</p>
</div>
</body>
</html>